@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: 'Ubuntu';
}

.is-section-header {
  padding: 3em 0 1em;
}

div.section.is-result-padding {
  padding: 3rem 1.5rem 1rem;
}